@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-width: 320px;

  font-family: Lato, sans-serif;
}

.home {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 60px;
  margin-top: 60px;
}

.navbar {
  justify-content: center;
  border-bottom: 1px solid #e7e7e7;
  z-index: 10;
  box-shadow: #e7e7e7 0px 0px 4px 0px;
}

.navbar a {
  font-weight: 900;
  font-size: 30px;
}

.heading {
  text-align: center;
  padding: 15%;
}

.heading button {
  border-radius: 9px;
  margin-top: 50px;
  padding: 10px 30px;
  background-color: #429138;
  border-color: #429138;
  color: #ffffff;
  font-family: "LATO";
}

.heading button:hover {
  background-color: #0e4016;
  border: 1px solid #0e4016;
}

.heading p {
  margin-top: 20px;

  font-size: 20px;
  letter-spacing: 0.5px;
}

.heading p a {
  text-decoration: underline;
  color: blue;
  /* cursor: pointer; */
}

.heading h1 {
  font-weight: 700;
  letter-spacing: 2px;
  /* line-height: 60px; */
  font-size: 48px;
}

.footer {
  border-top: 1px solid #e7e7e7;
  padding: 20px 0 0 0;
  margin-bottom: 0;
}

.socials {
  display: flex;
  justify-content: flex-end;

  gap: 20px;
  padding: 10px 40px 15px 0;
}

form {
  font-family: "Poppins", sans-serif;
}

.new-event {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding: 10px 5px;
}

input {
  border: 1px solid #d2d2d2;
  border-radius: 8px;
  padding: 10px;

  margin-bottom: 30px;
  font-weight: 300;
}

input::placeholder {
  color: #000;
  font-weight: 300;
}

.added-events {
  margin-top: 50px;
  font-family: Poppins, sans-serif;
  font-weight: 300;
}

.added-events h6 {
  /* margin-top: 30px; */
  padding: 20px;
}

.events-table {
  margin: 0 20px;
}

.recurrence,
.alert {
  justify-content: space-between;
  display: flex;
  font-weight: 300;
  flex-wrap: wrap;
}

.recurrence input,
.alert input {
  margin-right: 5px;
}

.alert {
  padding: 0;
  margin-bottom: 0;
}

.repeat input {
  width: 100%;
}

.btns {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.btns input {
  padding: 10px;

  background-color: rgba(0, 0, 0, 0.05);
  color: #000;
  padding: 10px 25px;
  border: none;
}

.btns input:hover {
  background-color: #0e4016;
  border: 1px solid #0e4016;
  color: #fff;
}

.accordion-button {
  color: #000;
  background-color: #fff;
}
.accordion-button:focus {
  border-color: #0e4016 !important;
}

.accordion-body {
  padding: 0 !important;
}
.download-btn {
  padding: 10px 15px;
  background-color: #429138;
  border: #429138;
  border-radius: 4px;
  color: #fff;
  margin-top: 20px;
}

.download-btn:hover {
  background-color: #0e4016;
  border: 1px solid #0e4016;
}

.accordion {
  --bs-accordion-active-bg: #fff;
  --bs-accordion-active-color: #000;
  --bs-accordion-btn-focus-border-color: #0e4016;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25px #0e4016;
}

.countries-input {
  text-align: center;
  margin: 8px;
  padding-bottom: 5px;
}

.countries-input select {
  max-width: 121px;
  text-align: center;
  padding: 5px;
  border: 1px solid #cecece;
  margin: 0 6px;
  border-radius: 7px;
  text-overflow: ellipsis;
}

.countries-input button {
  border: none;
  background-color: #fff;
}

.countries-input button:hover {
  color: #429138;
}

.load {
  text-align: center;
}

.footer a {
  color: #000;
}

.footnote {
  font-weight: 100;
  text-align: center;
  font-family: Poppins, sans-serif;
  margin-bottom: 4px;
}
.add-btn {
  max-width: 150px;
  border: none;
  margin-left: auto;
}

.add-btn:hover {
  background-color: #0e4016;
  border: 1px solid #0e4016;
  color: #fff;
}

.toggle-btn {
  border: none;
}

.toggle-btn:hover {
  background-color: #fff;
  border: 1px solid #0e4016;
  border-radius: 0;
}

.t-body {
  vertical-align: middle !important;
}

@media only screen and (min-width: 768px) {
  .showtable-btn {
    margin: auto;
  }

  .home {
    height: 80vh;
  }
  .new-event {
    padding: 10px 20px;
  }
  .added-events {
    padding: 0 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .time input {
    width: 250px;
  }

  .time {
    display: flex;
    justify-content: space-between;

    width: 100%;
  }
}
