@import "bootstrap/dist/css/bootstrap.min.css";

html,
body {
  min-width: 380px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#home {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 75vh;
}

.navbar {
  justify-content: center;
  border-bottom: 1px solid #e7e7e7;
  box-shadow: 0 3px #e7e7e7;
}

.navbar a {
  font-weight: 700;
  font-size: 30px;
}
/*
.container {
  height: 75vh;
} */

.heading {
  text-align: center;
  padding: 0 15%;
}

.heading button {
  border-radius: 25px;
  margin-top: 50px;
  padding: 10px 55px;
}

.heading p {
  margin-top: 50px;

  font-size: 20px;
  letter-spacing: 0.5px;
}

.heading p a {
  text-decoration: underline;
  color: blue;
  /* cursor: pointer; */
}

.heading h2 {
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 40px;
}

.footer {
  border-top: 1px solid #e7e7e7;
  /* box-shadow: 0.5px 2px #e7e7e7; */
}

.socials {
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
  gap: 20px;
  padding-top: 10px;
}

.new-event {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding: 10px 20px;
}

input {
  border: 1px solid #d2d2d2;
  border-radius: 12px;
  padding: 10px;
  /* background-color: #d2d2d2; */
  margin-bottom: 30px;
}

/* label {
  margin: 10px;
} */

select {
  margin-top: 20px;
}

.new-event button {
  background-color: #3d82fe;
  border: #3d82fe;
  border-radius: 12px;
  margin-top: 30px;
  padding: 10px;
}

input::placeholder {
  color: #000;
}

@media only screen and (min-width: 1024px) {
  .time input {
    width: 250px;
  }

  .time {
    display: flex;
    justify-content: space-between;

    width: 100%;
  }
}
